.tweet-profile-pic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.username-mentioned {
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-weight: 600;
}

.username-mentioned:hover {
  text-decoration: underline;
}

.tweet-content {
  margin-left: 10%;
}

.fa-heart {
  color: rgb(201, 44, 75);
}

.fa-comment {
  color: rgb(47, 84, 216);
}

.fa-retweet {
  color: rgb(83, 173, 164);
}

.tweet-card {
  max-height: 380px;
  max-width: 400px;
}

.tweet-image-content {
  max-height: 222px;
  max-width: 300px;
  border-radius: 10px;
}

.tweet-card:hover {
  background-color: rgb(212, 226, 230);
}

.like-button:hover {
  background-color: rgb(169, 214, 226);
}

.comment-button:hover {
  background-color: rgb(169, 214, 226);
}

.retweet-button:hover {
  background-color: rgb(169, 214, 226);
}

.spinner {
  position: absolute;
  top: 8px;
}

@media screen and (max-width: 376px) {
  .username-mentioned {
    font-size: small;
  }

  .tweet-profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }

  .date-created-at {
    font-size: x-small;
  }
}
